body{
    font-size: 18px;
    line-height: 1.8;
    font-weight: normal;
    background: #f8f9fd;
    color: gray;
}

h1, h2, h3, h4, h5, h6{
    line-height: 1.5;
    color: #000;
}

.page-container{
    padding: 10em 0;
}

.form-wrap{
    border-radius: 10px;
}

.from-wrap h3 {
    font-weight: 300;
}

.form-control{
    height: 52px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-light{
    background-color: #fff;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}